body{
  text-align: center;
  font: oblique bold 120% cursive;
  background-image: url('https://www.cbtnuggets.com/blog/wp-content/uploads/2014/10/1600x1200-devops-1500x1125.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#indice{
  background-color: blue;
  color: white;
}
#indice h4{
  font-size: 30px;
}

.article__container{
  margin-bottom: 50px;
  background-color: skyblue;
  font-size: 20px;
}

.article__title{
background-color: cornflowerblue;
}

.article__author{
background-color: skyblue;
}

.article__content{
background-color: skyblue;
}

.article__link{
background-color: skyblue;
}
